# Python
dist
*.egg-info
*.so
__pycache__
build

flightros/params/local.yaml


# Gitignore

# VScode
.vscode/
.vscode/*
**/.vscode/*
!.vscode/extensions.json

# General
_build/
.sass-cache
_posts
_site

