---
layout: default
pagination:
enabled: true
---
<div class="home">

  <div class="site-header-container {% if site.cover %}has-cover{% endif %}"
    {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});" {% endif %}>
    <div class="scrim {% if site.cover %}has-cover{% endif %}">
      <header class="site-header">
        <h1 class="title" style=font-size:80px>{{ site.title }}</h1>
        {% if site.subtitle %}<p class="title" style=font-size:30px>{{ site.subtitle }}</p>{% endif %}
      </header>
    </div>
  </div>
  <div class="wrapper">
    <h1 id="headings">Introduction</h1>
    <p style="text-align: justify">
      Currently available quadrotor simulators have a rigid and highly-specialized structure:
      either are they really fast, physically accurate, or photo-realistic.
      In this work, we propose a paradigm-shift in the development of simulators:
      moving the trade-off between accuracy and speed from the developers to the end-users.
      We release a new modular quadrotor simulator: <strong>Flightmare</strong>.
      Flightmare is composed of two main components: a configurable rendering engine
      built on Unity and a flexible physics engine for dynamics simulation.
      Those two components are totally decoupled and can run independently from each other.
      Flightmare comes with several desirable features: (i) a large multi-modal sensor suite,
      including an interface to extract the 3D point-cloud of the scene; (ii) an API for
      reinforcement learning which can simulate hundreds of quadrotors in parallel;
      and (iii) an integration with a virtual-reality headset for interaction with the simulated environment.
      Flightmare can be used for various applications, including path-planning,
      reinforcement learning, visual-inertial odometry, deep learning, human-robot interaction, etc.
    </p>
    <h2 id="headings">Video</h2>
    <p>Coming Soon...</p>
    <h2 id="headings">Features</h2>
    <ul>
      <li>Flexible sensor suite, including RGB images, IMU, depth, segmentation, etc.</li>
      <li>Point Cloud Extractor</li>
      <li>Parallel computing for multi-agents simulation.</li>
      <li>OpenAI Gym-style python wrapper.</li>
      <li>Model-free Reinforcement Learning baselines (stable-baselines).</li>
      <li>ROS integration, including interface to the popular Gazebo-based MAV simulator (RotorS). </li>
      <li>Interface to Model-based quadrotor control.</li>
    </ul>
    <h2 id="headings">Applications</h2>
    <ul>
      <li>Reinforcement Learning, Deep Learning</li>
      <li>Path Planning, Model-based Control</li>
      <li>Visual-inertial Odometry, Simultaneous Localization and Mapping</li>
      <li>Virtual-Reality, Human-robot Interaction</li>
    </ul>
  </div>
  <!-- <div class="wrapper">
    <ul class="post-list">
      {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <section class="post-excerpt" itemprop="description">
          <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
        </section>
        <section class="post-meta">
          <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>
          <div class="post-categories">
            {% if post.categories.size > 0 %}in {% for cat in post.categories %}
            {% if site.jekyll-archives %}
            <a href="{{ site.baseurl }}/category/{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %},
            {% endif %}
            {% else %}
            <a href="{{ site.baseurl }}/posts/#{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %},
            {% endif %}
            {% endif %}
            {% endfor %}{% endif %}
          </div>
        </section>
      </li>
      {% if forloop.last == false %}
      <hr>
      {% endif %}
      {% endfor %}
    </ul> -->

  <!-- <nav class="pagination" role="navigation">
	<p>
    {% if paginator.previous_page %}
			{% if paginator.page == 2 %}
			<a class="newer-posts" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
        </span>
      </a>
			{% else %}
			<a class="newer-posts" href="{{ site.baseurl }}{{ paginator.next_page_path }}">
				<span class="fa-stack fa-lg">
					<i class="fa fa-square fa-stack-2x"></i>
					<i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			{% endif %}
		{% else %}
		<span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
    </span>
		{% endif %}
		<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% if paginator.next_page %}
		<a class="newer-posts" href="{{ site.baseurl }}{{ paginator.next_page_path }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
      </span>
    </a>
		{% else %}
		<span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
    </span>
		{% endif %}
	</p>
</nav> -->

</div>
</div>