<header class="header">

  <div class="overlay">

    <span>

    </span>

    <div class="container">

      <nav class="navbar">
        <a href="#" class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <ul class="nav">
          {% for page in site.pages %}
          {% if page.title and page.title != 'Home' %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
          {% endfor %}
          <li><a href="{{ site.github }}" target="_blank">Github</a></li>
        </ul>
      </nav>
    </div>

    {% if page.slug == 'home' %}
    <h2 class="txt-center">
      <strong>{{ site.title }}</strong>
    </h2>
    {% endif %}

  </div>

</header>