<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="http://rpg.ifi.uzh.ch/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="{{ site.baseurl }}">Home</a>
          {% include nav_links.html %}
        <li class="nav-link"><a href="https://github.com/uzh-rpg/flightmare">GitHub</a>
      </ul>
    </nav>
  </div>
</header>